In [4]:
%load_ext autoreload
%autoreload 2
import sys
sys.path.append("D:/Github/note/module")                                  # for windows
# sys.path.append("/Users/xinc./Documents/GitHub/note/module") 
from get_info_TWSE import GetInfoTWSE
from get_info_FinMind import GetInfoFinMind
import requests
import pandas as pd
import numpy as np
from pprint import pprint

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# import data

In [38]:
stock_id = "1436"
start_time = "2021-04-10"
end_time = "2021-04-17"

In [39]:
fetcher = GetInfoTWSE(certify = False)
base_df = fetcher.init_df(stock_id, start_time, end_time)
base_df = fetcher.get_stock_price()

start = base_df.index[0].strftime("%Y-%m-%d")
end = base_df.index[-1].strftime("%Y-%m-%d")
base_df

c:\Users\ownme\anaconda3\envs\quant\Lib\site-packages\urllib3\connectionpool.py:1097: InsecureRequestWarning: Unverified HTTPS request is being made to host 'www.twse.com.tw'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(

             Open   High    Low  Close   Volume
Timestamp
2021-04-12  39.40  39.65  39.00   39.5  65571.0
2021-04-13  39.65  39.85  39.20   39.7   9223.0
2021-04-14  39.30  39.45  39.05   39.2  43501.0
2021-04-15  39.45  39.65  39.15   39.2  14084.0
2021-04-16  39.50  39.50  39.20   39.5  18021.0

In [40]:
fetcher = GetInfoFinMind()
df = fetcher.init_df(stock_id, start, end)
df = fetcher.get_share_holding()
# df = fetcher.get_share_holding()
df

2025-09-14 18:57:44.350 | INFO     | FinMind.data.finmind_api:get_data:158 - download Dataset.TaiwanStockShareholding, data_id: 1436

,ForeignInvestmentRemainingShares,ForeignInvestmentShares,ForeignInvestmentRemainRatio,ForeignInvestmentSharesRatio,NumberOfSharesIssued
Timestamp,,,,,
2021-04-12,95308225,325775,99.65,0.34,95634000
2021-04-13,95307225,326775,99.65,0.34,95634000
2021-04-14,95308225,325775,99.65,0.34,95634000
2021-04-15,95311225,322775,99.66,0.33,95634000
2021-04-16,95311225,322775,99.66,0.33,95634000

In [41]:
base_df.index = pd.to_datetime(base_df.index, format = "%Y-%m-%d")
df.index = pd.to_datetime(df.index, format = "%Y-%m-%d")
merge_df = base_df.join(df)
merge_df

,Open,High,Low,Close,Volume,ForeignInvestmentRemainingShares,ForeignInvestmentShares,ForeignInvestmentRemainRatio,ForeignInvestmentSharesRatio,NumberOfSharesIssued
Timestamp,,,,,,,,,,
2021-04-12,39.40,39.65,39.00,39.5,65571.0,95308225,325775,99.65,0.34,95634000
2021-04-13,39.65,39.85,39.20,39.7,9223.0,95307225,326775,99.65,0.34,95634000
2021-04-14,39.30,39.45,39.05,39.2,43501.0,95308225,325775,99.65,0.34,95634000
2021-04-15,39.45,39.65,39.15,39.2,14084.0,95311225,322775,99.66,0.33,95634000
2021-04-16,39.50,39.50,39.20,39.5,18021.0,95311225,322775,99.66,0.33,95634000