In [23]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import talib
from talib import abstract
import yfinance as yfin

In [24]:
df = yfin.download('^TWII', start = '2012-1-1', end = '2024-7-8').round(3)
df.columns = ['open', 'high', 'low', 'close', 'adj_close', 'volume']
tdf = pd.DataFrame()
df

[*********************100%%**********************]  1 of 1 completed

                 open       high        low      close  adj_close   volume
Date
2012-01-03   7005.390   7073.790   7005.390   7053.380   7053.348  1818200
2012-01-04   7093.070   7116.220   7064.580   7082.970   7082.938  2132200
2012-01-05   7099.350   7130.860   7073.320   7130.860   7130.827  2209000
2012-01-06   7129.530   7139.040   7090.470   7120.510   7120.477  2354400
2012-01-09   7103.090   7103.090   7050.250   7093.040   7093.008  1741000
...               ...        ...        ...        ...        ...      ...
2024-07-01  23042.699  23187.881  23015.170  23058.570  23058.570  4294900
2024-07-02  23012.740  23041.900  22833.779  22879.369  22879.369  5034500
2024-07-03  23009.820  23172.430  22994.279  23172.430  23172.430  5720700
2024-07-04  23360.881  23571.820  23360.881  23522.529  23522.529  5361000
2024-07-05  23532.010  23628.859  23491.789  23556.590  23556.590  5319900

[3048 rows x 6 columns]

In [30]:
df['observed_sell'] = np.nan
df['observed_buy'] = np.nan
df['reverse_sell'] = np.nan
df['reverse_buy'] = np.nan
df['break_buy'] = np.nan
df['break_sell'] = np.nan

for i in range(1, len(df)):
    df['observed_sell'] = df['high'][i - 1] + 0.35 * (df['close'][i - 1] - df['low'][i - 1])
    df['observed_buy'] = df['low'][i - 1] - 0.35 * (df['high'][i - 1] - df['low'][i - 1])
    df['reverse_sell'] = 1.07/2 * (df['high'][i - 1] + df['low'][i - 1]) - 0.07 * df['low'][i - 1]
    df['reverse_buy'] = 1.07/2 * (df['high'][i - 1] + df['low'][i - 1]) - 0.07 * df['high'][i - 1]
    df['break_buy'] = df['observed_sell'][i - 1] + 0.25 * (df['observed_sell'][i - 1] - df['observed_buy'][i - 1])
    df['break_sell'] = df['observed_buy'][i - 1] - 0.25 * (df['observed_sell'][i - 1] - df['observed_buy'][i - 1])
    
df

KeyError: 0